html{
   background-image:url(https://diariodonordeste.verdesmares.com.br/image/contentid/policy:7.4516754:1621515234/fox-paulistinha_Easy-Resize.com.jpg?f=16x9&$p$f=1af7684);
}
h1{
   color: white;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
  color: white;
}
a{
  color: aquamarine;
}
h2{
   color: white;
   font-size:25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}